<p>eventbinding4 works!</p>

<button (click)="result=5+5" >Addition</button> {{result}} <br><br>

<input [type]="isShow?'password':'text'"><br><br>
<button (click)="isShow=!isShow" >Show</button> <br><br>

<!-- ngModel
    - It is attribute directive
    - u can apply any html tags
    - if u want use u hv to import FormsModule => app.module.ts 
    - [(ngModel)]="Propertyname"
-->
<input type="text" placeholder="Enter the name " [(ngModel)]="name" > {{name}} <br><br>

<input type="text" [(ngModel)]="mysize" [size]="mysize" >
