<p>demotdf works!</p>

<div class="container">
    <div class="row">
        <div class="col">

            <form #f="ngForm">
                
                {{f.value | json}}
                
            <div class="form-group">
                <label for="">Username::</label>
                <input type="text" class="form-control" placeholder="Enter the username" minlength="5" ngModel name="myusername" #username="ngModel" 
                    pattern="admin"
                required>                

                <div class="alert alert-danger" 
                *ngIf="username.touched && !username.valid ">** Please enter the Username...

                <div *ngIf="username.errors?.minlength">** Please enter the username minimum {{username.errors?.minlength?.requiredLength}} character 
                </div>

                <div *ngIf="username.errors?.pattern">** Please Enter the appropriate username...
                </div>

                </div>

            </div>

            <div class="form-group">
                <label for="">Comment::</label>
                <textarea name="comment" id="" class="form-control" placeholder="Enter the comment " ngModel #comment="ngModel" required
                cols="30" rows="10"></textarea>

                <div class="alert alert-danger" 
                *ngIf="comment.touched && comment.invalid">** Please enter the comment 

                </div>

            </div>

            <br>
            <button [disabled]="!f.valid" class="btn btn-outline-success"> Submit  </button>

        </form>

        </div>

    </div>

</div>