<h2>My first Angular Application </h2>

<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolatiuon></app-stringinterpolatiuon> -->
<!-- <app-propertybinding ></app-propertybinding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-eventbinding3></app-eventbinding3> -->
<!-- <app-eventbinding4></app-eventbinding4> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-fordirective1></app-fordirective1> -->
<!-- <app-switchdirective></app-switchdirective> -->

<!-- <input [(ngModel)]="msg" type="text" placeholder="Enter the Message"> &nbsp;&nbsp;

<hr>

<app-parent1 [appMsg]="msg" ></app-parent1> -->

<!-- <app-parent2></app-parent2> -->
<!-- <app-parent-content></app-parent-content> -->

<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-course></app-course> -->
<app-post></app-post>