<p>eventbinding3 works!</p>

<!-- <label for=""> Num1 :: &nbsp;&nbsp; </label>
<input #num1 type="text" placeholder="Enter the num1"><br><br>
<label for=""> Num2 :: &nbsp;&nbsp; </label>
<input #num2 type="text" placeholder="Enter the num2"><br><br>
<button (click)="onAddition(num1.value,num2.value)" >Addition</button> <br><br>
<input type="text" [value]="result" placeholder="Result ">

<hr>
<input type="text" placeholder="Enter the name "
    (change)="onChange()"
> <br><br>

<input #myname type="text" placeholder="Enter the name "
    (change)="onChange1(myname.value)"
> <br><br> -->

<!-- <input type="text" placeholder="key up event" (keyup)="onKeyUp()"> <br><br>
<input type="text" placeholder="key down event" (keydown)="onKeydown()">
<hr>
<input type="text" placeholder="Keyboard filtering"
(keyup.enter)="onEnterKey()"
> -->

<input [type]="myshow" placeholder="enter pwd"> <br><br>
<button (click)="onShow()" >Show</button>

